<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
         .container{
            color: rgb(15, 15, 14);
            font-weight: bold;
            color: rgb(7, 93, 101);
        }
        .gfg{
            color: white;
            font-weight: bold;
            margin-left: 10px;
            font-size: 15px;
            padding: 7px 10px;
            border-radius: 10px;
            background-color: orange;
           text-decoration: none;
        }
        .write{
            color: gray;
        }
       
    </style>
</head>

<body>
   
    <div >
        <h2  class="container">" Welcome  To (second) GeeksForGeeks &#128512;"</h2>
        <p class="write"> <strong> Note :</strong>  We can take any name as a User in place of GeeksForGeeks</p>
    </div>
    <br>
    <a   class="gfg" href="{{url_for('row')}}">Click Here</a>
  
    

   
</body>

</html>